@tailwind base;
@tailwind components;
@tailwind utilities;

/* Never change (?) */
:root {
  --bg-gradient-0: hsl(278, 35%, 78%);
  --bg-gradient-1: hsl(338, 100%, 84%);
  --bg-gradient-2: hsl(337, 100%, 89%);
  --bg-gradient-3: hsl(208, 97%, 87%);
  --bg-gradient-4: hsl(209, 100%, 82%);

  --fc-accent: hsl(0, 0%, 5%);
  --fc-primary: hsl(0, 0%, 10%);
  --fc-primary-content: 0, 0%, 10%;
  --fc-secondary: hsl(0, 0%, 20%);
  --fc-tertiary: hsl(0, 0%, 30%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-gradient-0: hsl(278, 35%, 08%);
    --bg-gradient-1: hsl(337, 100%, 19%);
    --bg-gradient-2: hsl(338, 100%, 14%);
    --bg-gradient-3: hsl(208, 97%, 17%);
    --bg-gradient-4: hsl(209, 100%, 12%);

    --fc-accent: hsl(0, 0%, 97.5%);
    --fc-primary: hsl(0, 0%, 90%);
    --fc-primary-content: 0, 0%, 90%;
    --fc-secondary: hsl(0, 0%, 80%);
    --fc-tertiary: hsl(0, 0%, 70%);
  }
}

.light-mode {
  --bg-gradient-0: hsl(278, 35%, 78%);
  --bg-gradient-1: hsl(338, 100%, 84%);
  --bg-gradient-2: hsl(337, 100%, 89%);
  --bg-gradient-3: hsl(208, 97%, 87%);
  --bg-gradient-4: hsl(209, 100%, 82%);

  --fc-accent: hsl(0, 0%, 5%);
  --fc-primary: hsl(0, 0%, 10%);
  --fc-primary-content: 0, 0%, 10%;
  --fc-secondary: hsl(0, 0%, 20%);
  --fc-tertiary: hsl(0, 0%, 30%);
}

.dark-mode {
  --bg-gradient-0: hsl(278, 35%, 08%);
  --bg-gradient-1: hsl(337, 100%, 19%);
  --bg-gradient-2: hsl(338, 100%, 14%);
  --bg-gradient-3: hsl(208, 97%, 17%);
  --bg-gradient-4: hsl(209, 100%, 12%);

  --fc-accent: hsl(0, 0%, 97.5%);
  --fc-primary: hsl(0, 0%, 90%);
  --fc-primary-content: 0, 0%, 90%;
  --fc-secondary: hsl(0, 0%, 80%);
  --fc-tertiary: hsl(0, 0%, 70%);
}

body {
  height: 100vh;
  height: 100dvh;
  font-family: Consolas;
  color: var(--fc-primary);
  background-image: linear-gradient(to bottom,
      var(--bg-gradient-0),
      var(--bg-gradient-1),
      var(--bg-gradient-2),
      var(--bg-gradient-3),
      var(--bg-gradient-4),
      var(--bg-gradient-0),
      var(--bg-gradient-1));
  background-size: 700% 700%;
  animation: gradient 25s linear infinite reverse;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }

  200% {
    background-position: 200% 200%;
  }
}
